// $('#list-' +<%= @user.list.id %>).hide();
// <% if @list.destroyed? %>
//   $('#list-' +<%= @user.list.id %>).fadeOut(900);
// <% else %>
//   $('#list-' +<%= @user.list.id %>).prepend("<div class='alert alert-danger'><%= flash[:error] %></div>)";
// <% end %>